anyio==4.6.0
astor==0.8.1
certifi==2024.8.30
decorator==5.1.1
easyocr @ git+https://github.com/JaidedAI/EasyOCR.git@c4f3cd7225efd4f85451bd8b4a7646ae9a092420
filelock==3.16.1
fsspec==2024.9.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
imageio==2.35.1
Jinja2==3.1.4
lazy_loader==0.4
MarkupSafe==3.0.1
mpmath==1.3.0
networkx==3.3
ninja==1.11.1.1
numpy==2.1.2
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
paddlepaddle==2.6.2
pillow==10.4.0
protobuf==3.20.2
pyclipper==1.3.0.post5
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
python-bidi==0.6.0
PyYAML==6.0.2
scikit-image==0.24.0
scipy==1.14.1
setuptools==75.1.0
shapely==2.0.6
sniffio==1.3.1
sympy==1.13.3
tifffile==2024.9.20
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
typing_extensions==4.12.2
xlrd==1.2.0
